<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1> Nome : {{usuario.nome}}</h1>
    <ul>
        <h2>Dados pessoais:</h2>
        <li>Matricula: {{usuario.matricula}}</li>
        <li>Idade: {{usuario.idade}}</li>
        <li>Tipo de usuário: {{usuario.tipo_usuario}}</li>
        <li>Curso: {{usuario.curso}}</li>
        <li>Endereço: {{usuario.endereco}}</li>
        <li>Período de ingresso: {{usuario.periodo_ingresso}}</li>
    </ul>
</body>
</html>